body {
  background-color: black;
}

.box {
    border-style: solid;
    border-color: grey;
    border-width: 5px;
    text-align: center;
    background-color: white;
    padding: 10px;
    magin: 20px
}

h1{
    font-family: 'Lustria', serif;
}

p {
  color: grey;
}

.thick-grey-border {
    border-color: grey;
    border-width: 10px;
    border-style: solid;
    border-radius: 75%;
    padding: 20px;
  }
