body {
  background-color: black;
}

.box {
    border-style: solid;
    border-color: hsl(180, 80%, 25%);
    border-width: 5px;
    background-color: hsl(180, 20%, 60%);
    padding: 10px;
    margin: 20px;
}

h1{
    font-family: 'Lustria', serif;
    text-align: center;
}

p {
  color: black;
  text-align: justify
}

#buffer {
  height: 150px;
}
#header {
  position:fixed;
  width: 93.3%;
  text-align: center;
}

#photo {
  width: 30%;
  float:left;
  border-color: hsl(180, 80%, 25%);
  border-width: 10px;
  border-style: solid;
  border-radius: 10%;
  margin: 20px;
}
