body {
  background-color: black;
}

header {
  margin: -5px;
  padding: 15px;
  text-align: center;
  background-color: hsl(180, 20%, 60%);
}

h1{
    font-family: 'Lustria', serif;
    text-align: center;
}

p {
  color: black;
  text-align: justify
}

.box {
  border-style: solid;
  border-color: hsl(180, 80%, 25%);
  border-width: 5px;
  border-radius: 5%;
  background-color: hsl(180, 20%, 60%);
  padding: 10px;
  margin: 20px;
}

#box_container {
  display: flex;
}

#box_container2 {
  display: flex;
}

#photo {
  width: 30%;
  float:left;
  border-color: hsl(180, 80%, 25%);
  border-width: 5px;
  border-style: solid;
  border-radius: 10%;
  margin: 20px;
}

@media (max-width: 800px) { 
    p {
      font-size: 10px;
      width: 75vmin;
  }
    }
    img{
      max-width: 100%;
      display: block;
      height: auto;
    }
